[submodule "backend"]
	path = backend
	url = git@gitlab.com:tmscer/parking-system-backend.git
[submodule "frontend"]
	path = frontend
	url = git@gitlab.com:tmscer/parking-system-frontend.git
[submodule "express-openalpr-server"]
	path = express-openalpr-server
	url = git@github.com:tmscer/express-openalpr-server.git
[submodule "openalpr"]
	path = openalpr
	url = https://github.com/openalpr/openalpr
[submodule "scanner"]
	path = scanner
	url = git@gitlab.com:tmscer/parking-system-scanner.git
