[submodule "backend"]
	path = backend
	url = https://github.com/gyarab/parksys-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/gyarab/parksys-frontend
[submodule "express-openalpr-server"]
	path = express-openalpr-server
	url = https://github.com/gyarab/parksys-openalpr-server
[submodule "openalpr"]
	path = openalpr
	url = https://github.com/openalpr/openalpr
[submodule "scanner"]
	path = scanner
	url = https://github.com/gyarab/parksys-scanner
